@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-md-5 col-xl-3 col-lg-4">
    <div class="card mb-0 border-0 ms-0">
        <div class="card-body p-0">
            <div class="text-center p-3">
                <a asp-action="Landing" asp-controller="Home" class="logo logo-admin">
                    <img src="~/assets/images/logo-sm.png" height="50" alt="logo" class="auth-logo">
                </a>
                <h1 class="mb-2">@ViewData["Title"]</h1>
                <h4>Enter your email.</h4>
                <hr />
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group mb-1">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--end card-body-->
    </div>
</div><!--end col-->



@*<div class="page-content-tab">
    <h1>@ViewData["Title"]</h1>*@


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
@*</div>*@