@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-md-5 col-xl-3 col-lg-4">
    <div class="card mb-0 border-0 ms-0">
        <div class="card-body p-0">
            <div class="text-center p-3">
                <a asp-action="Landing" asp-controller="Home" class="logo logo-admin">
                    <img src="~/assets/images/logo-sm.png" height="50" alt="logo" class="auth-logo">
                </a>
                <h1>@ViewData["Title"]</h1>
                <p>
                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                </p>
            </div>
        </div><!--end card-body-->
    </div>
</div><!--end col-->




